!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title aimee daniells, software crafter
    %meta(content="width=device-width" name="viewport")

    /[if lte IE 9] <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen" />
    %link(href="css/1140.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="css/styles.css" media="screen" rel="stylesheet" type="text/css")
    %script(src="js/css3-mediaqueries.js" type="text/javascript")

  %body
