!!!
<!--[if lt IE 7 ]> <html class="no-js ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

%head
  %meta(charset="utf-8")
  %title aimee daniells, software crafter
  %meta(content="width=device-width" name="viewport")
  %meta(content="IE=edge,chrome=1" http-equiv="X-UA-Compatible")

  %link(rel="shortcut icon" href="/favicon.ico")
  %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

  %link(href="css/frameless.css" media="screen" rel="stylesheet" type="text/css")
  %link(href="css/flexslider.css" media="screen" rel="stylesheet" type="text/css")
  %link(href="css/styles.css" media="screen" rel="stylesheet" type="text/css")

  -# Link to OpenID
  %link(rel="openid.server" href="http://www.myopenid.com/server")
  %link(rel="openid.delegate" href="http://sermoa.myopenid.com/")
  %link(rel="openid2.local_id" href="http://sermoa.myopenid.com")
  %link(rel="openid2.provider" href="http://www.myopenid.com/server")
  %meta(http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=sermoa.myopenid.com")

  %script(type="text/javascript" src="/js/libs/modernizr-1.7.min.js")

%body
  .header.vcard
    .name-and-title
      .fn.n
        .name
          %span.given-name aimee
          %span.family-name daniells
      .job-title
        .title software crafter
    %ul.contact-icons
      %li.cv
        %a(href="http://j.mp/aimeedaniellscv")
          %span.triangle
          %span.tooltip My CV
      %li.linked-in
        %a(href="http://uk.linkedin.com/in/aimeedaniells")
          %span.triangle
          %span.tooltip Linked In
      %li.github
        %a(href="http://github.com/sermoa")
          %span.triangle
          %span.tooltip Github
      %li.twitter
        %a(href="http://twitter.com/sermoa")
          %span.triangle
          %span.tooltip Twitter
      %li.skype
        %a(href="skype:sermoa?call")
          %span.triangle
          %span.tooltip Skype

    .contact-details
      .email
        %a(href="mailto:aimee@aimeedaniells.com") aimee@aimeedaniells.com
      .tel 074 032 68 398

  %nav
    %ul
      %li
        %a.active(data-section='freelance-work' href='#freelance-work') freelance
      %li
        %a(data-section='pet-projects' href='#pet-projects') pet projects

  .portfolio

    .flexslider.section#freelance-work
      %h1 Freelance Work

      %ul.slides

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://www.bbc.co.uk/sport/olympics/2012/schedule-results/")
                %img(src="/images/freelance/bbc-olympics-schedule.jpg" alt="BBC Olympics Schedule")
            .right
            .bottom
          .details
            %h2 BBC Olympics Schedule
            %p I worked with the BBC as a developer in test, helping to define acceptance criteria, working alongside developers, writing cucumber scenarios to verify the behaviour.
            .link
              %a(href="http://www.bbc.co.uk/sport/olympics/2012/schedule-results/") view

        %li.example.android
          .picture
            .top
            .left
            .screenshot
              %a(href="https://play.google.com/store/apps/details?id=org.buffer.android")
                %img(src="/images/freelance/buffer.jpg" alt="Buffer for Android")
            .right
            .bottom
          .details
            %h2 Buffer for Android
            %p A complete overhaul of its simplistic predecessor, version 2 of Buffer for Android now provides a fully functional native Android app which communicates with the Buffer API.
            .link
              %a(href="https://play.google.com/store/apps/details?id=org.buffer.android") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://www.boxedup.com/")
                %img(src="/images/freelance/boxedup.jpg" alt="BoxedUp")
            .right
            .bottom
          .details
            %h2 BoxedUp
            %p A rewrite of BoxedUp had been ongoing for over a year. I worked with them to finally get it launched. Huge data migrations, Rails, MongoDB and Resque.
            .link
              %a(href="http://www.boxedup.com/") view

        %li.example.android
          .picture
            .top
            .left
            .screenshot
              %a(href="https://play.google.com/store/apps/details?id=org.tweetyourprayers.kotel")
                %img(src="/images/freelance/the-kotel.jpg" alt="The Kotel for Android")
            .right
            .bottom
          .details
            %h2 The Kotel for Android
            %p An Android app to send prayers to the Western Wall in Jerusalem. I did this as a charitable project because i wanted more Android experience, and i liked the idea.
            .link
              %a(href="https://play.google.com/store/apps/details?id=org.tweetyourprayers.kotel") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://shop.bestseller.com/")
                %img(src="/images/freelance/bestseller.jpg" alt="Bestseller Shop")
            .right
            .bottom
          .details
            %h2 Bestseller Shop
            %p Developing multiple CSS skins for multiple brands, using the highly customisable Java Demandware platform, HTML5, CSS3, jQuery.
            .link
              %a(href="http://shop.bestseller.com/") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://alancolledge.com/")
                %img(src="/images/freelance/alan-colledge.jpg" alt="Alan Colledge")
            .right
            .bottom
          .details
            %h2 Alan Colledge
            %p A portfolio website for an artist in Kent. Written in Rails with a custom built order processing system, selling cards, prints and original paintings.
            .link
              %a(href="http://alancolledge.com/") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://www.aphroditesdesire.com/")
                %img(src="/images/freelance/aphrodites-desire.jpg" alt="Aphrodite's Desire")
            .right
            .bottom
          .details
            %h2 Aphrodite's Desire
            %p This web shop was built and launched in a single day. My client needed to be able to add products easily and keep track of orders. Shopify proved to be the ideal platform.
            .link
              %a(href="http://www.aphroditesdesire.com/") view

    .flexslider.section#pet-projects
      %h1 Pet Projects

      %ul.slides

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="https://fiveyeardiary.herokuapp.com/")
                %img(src="/images/pet-projects/five-year-diary.jpg" alt="Five Year Diary")
            .right
            .bottom
          .details
            %h2 Five Year Diary
            %p A diary that allows you to compare week to week, month to month, and year to year.
            .link
              %a(href="https://fiveyeardiary.herokuapp.com/") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://mychores.co.uk/")
                %img(src="/images/pet-projects/mychores.jpg" alt="MyChores")
            .right
            .bottom
          .details
            %h2 MyChores
            %p MyChores is a team-based online tracking system for recurring tasks. It was written for my own benefit, and it was my project for learning Ruby on Rails.
            .link
              %a(href="http://mychores.co.uk/") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://merlinscastle.net/")
                %img(src="/images/pet-projects/merlins-castle.jpg" alt="Merlin's Castle")
            .right
            .bottom
          .details
            %h2 Merlin's Castle
            %p This is a game i used to play at school. I remade it for the web to give other people the chance to play it. I also used it to learn how to use MongoDB.
            .link
              %a(href="http://merlinscastle.net/") view

        %li.example.browser
          .picture
            .top
            .left
            .screenshot
              %a(href="http://activegeohasher.com/")
                %img(src="/images/pet-projects/active-geohasher.jpg" alt="Active Geohasher")
            .right
            .bottom
          .details
            %h2 Active Geohasher
            %p Geohashing is a random adventure generator. Every day new coordinate points are generated. This app calculates the points and provides helpful tools.
            .link
              %a(href="http://activegeohasher.com/") view

  .row
    .about-me
      %h1 Who am I?
      %p I am an independent software crafter, living in Winchester, UK. I am fascinated by the web, mashups, geolocation and mobile technologies.
      %p I specialise in data modelling and integration of existing systems via APIs. I have strong skills in object oriented programming, particularly Ruby.
      %p My interests are in TDD, BDD, agile software development, strong client interaction, software craftsmanship, mentoring, open source software, and great user experience at all levels.

    .testimonials
      %h1 Testimonials
      %blockquote= @testimonial[:text]
      .attribution== #{@testimonial[:name]}, #{@testimonial[:date]}

  %script(src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  :javascript
    window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>')

  %script(src="/js/libs/jquery.flexslider-min.js")
  %script(src="/js/libs/css3-mediaqueries.js")
  %script(src="/js/script.js")

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-28543596-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
