!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title aimee daniells, software crafter
    %meta(content="width=device-width" name="viewport")

    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    %link(href="css/frameless.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="css/styles.css" media="screen" rel="stylesheet" type="text/css")

    -# Link to OpenID
    %link(rel="openid.server" href="http://www.myopenid.com/server")
    %link(rel="openid.delegate" href="http://sermoa.myopenid.com/")
    %link(rel="openid2.local_id" href="http://sermoa.myopenid.com")
    %link(rel="openid2.provider" href="http://www.myopenid.com/server")
    %meta(http-equiv="X-XRDS-Location" content="http://www.myopenid.com/xrds?username=sermoa.myopenid.com")

  %body
    .header.vcard
      .name-and-title
        .fn.n
          .name
            %span.given-name aimee
            %span.family-name daniells
        .job-title
          .title software crafter
      %ul.contact-icons
        %li.cv
          %a(href="http://j.mp/aimeedaniellscv" target="_blank")
            %span.triangle
            %span.tooltip My CV
        %li.linked-in
          %a(href="http://uk.linkedin.com/in/aimeedaniells" target="_blank")
            %span.triangle
            %span.tooltip Linked In
        %li.github
          %a(href="http://github.com/sermoa" target="_blank")
            %span.triangle
            %span.tooltip Github
        %li.twitter
          %a(href="http://twitter.com/sermoa" target="_blank")
            %span.triangle
            %span.tooltip Twitter
        %li.skype
          %a(href="skype:sermoa?call")
            %span.triangle
            %span.tooltip Skype

      .contact-details
        .email aimee@aimeedaniells.com
        .tel 074 032 68 398

    %nav
      %ul
        %li
          %a.active(href='#') freelance
        %li
          %a(href='#') pet projects

    .portfolio
      .example.browser
        .top
        .left
        .screenshot
          %a(href="http://www.boxedup.com")
            %img(src="/images/freelance/boxedup.jpg")
        .right
        .bottom

        .details
          %h1 boxedup
          %p A rewrite of BoxedUp had been ongoing for over a year. I worked with them to finally get it launched. Huge data migrations, Rails, MongoDB and Resque.
        .link
          view

      .switcher
        switcher

    .row
      .about-me
        %h1 who am i?
        %p I am an independent software crafter, living in Winchester, UK. I am fascinated by the web, mashups, geolocation and mobile technologies.
        %p I specialise in data modelling and integration of existing systems via APIs. I have strong skills in object oriented programming, particularly Ruby.
        %p My interests are in TDD, BDD, agile software development, strong client interaction, software craftsmanship, mentoring, open source software, and great user experience at all levels.

      .testimonials
        %h1 testimonials
        %blockquote Aimee has been an absolute delight to work with on the first phase of the Feusd Core project. She has an intimate knowledge of Ruby and is very enthusiastic about pair programming, automated testing, and retrospectives. She has a passion for producing elegant and extensible code, and is a very patient and thoughtful mentor.
        .attribution Tom Inglis, October 2011

    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28543596-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
