!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Starbursts
    %meta(content="width=device-width" name="viewport")

    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    %link(href="css/frameless.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="css/styles.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="css/starbursts.css" media="screen" rel="stylesheet" type="text/css")

  %body
    %h1 Starbursts

    .starburst1
      %p Amazing, right?!

    .starburst2
      .triangle.triangle1
      .triangle.triangle2
      .triangle.triangle3
      .triangle.triangle4
      .triangle.triangle5
      .triangle.triangle6
      .triangle.triangle7
      .triangle.triangle8
      %p Proper starburst!
