!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Starbursts
    %meta(content="width=device-width" name="viewport")

    %link(rel="shortcut icon" href="/favicon.ico")
    %link(rel="apple-touch-icon" href="/apple-touch-icon.png")

    %link(href="css/frameless.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="css/shared.css" media="screen" rel="stylesheet" type="text/css")
    %link(href="css/starbursts.css" media="screen" rel="stylesheet" type="text/css")

  %body
    %h1 Starbursts

    .starburst1
      %p Amazing, right?!

    .starburst2
      .triangle.triangle1
      .triangle.triangle2
      .triangle.triangle3
      .triangle.triangle4
      .triangle.triangle5
      .triangle.triangle6
      .triangle.triangle7
      .triangle.triangle8
      %p Proper starburst!

    .starburst3
      .square.square1
      .square.square2
      .square.square3
      .square.square4
      %p Can also be done with squares!

    .starburst4
      .square.square1
      .square.square2
      .square.square3
      .square.square4
      .square.square5
      .square.square6
      .square.square7
      .square.square8
      %p Trying a 32-point starburst!
