!!!
%head
  %link(href="/css/shared.css" media="screen" rel="stylesheet" type="text/css")
  %title Weather

%body(style='text-align: center;')
  %h1= @weather.city
  %p.description= @weather.description
  %img(src="/images/weather/#{@weather.short_description}.png" alt="#{@weather.short_description}")
