@mixin border_radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin opacity($opacity) {
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$opacity})";
  filter: alpha(opacity=$opacity);
  opacity: $opacity / 100;
}

@mixin clearfix {
  &:before, &:after { content: ""; display: table; }
  &:after { clear: both; }
  zoom: 1;
}
