@import 'mixins.scss';

body {
  background-color: #f4f4f4;
  text-align: center;

  h1, h2, a {
    color: #444;
  }

  h2 {
    padding-right: 2em;
    padding-left: 2em;
  }

  p {
    font-family: 'Lustria', serif;
    color: #666;
    font-size: 0.9em;
  }

  .portfolio {
    @include clearfix;
    max-width: 62.4em;
    margin: 0 auto;

    .card {
      width: 20.8em;
      float: left;
    }

    .wide, .small, .tall, .big, .extrabig {
      background: {
        position: 50% 50%;
        repeat: no-repeat;
      }
      margin: 0.2em;
      float: left;
      @include border_radius(0.2em);
      @include box_shadow(2px, 2px, 3px, 2px, #888);
    }

    .wide {
      width: 20.4em;
      height: 9em;
    }

    .small {
      width: 10em;
      height: 9em;
    }

    .tall {
      width: 10em;
      height: 18.4em;
    }

    .big {
      width: 20.4em;
      height: 18.4em;
    }

    .extrabig {
      width: 20.4em;
      height: 27.8em;
    }
  }

  .flexslider {
    background-color: transparent;
    border: 0;

    .flex-direction-nav {
      li a {
        background-image: url(/images/flexslider/photography_bg_direction_nav.png);
        width: 37px;
        top: 2em;

        &.prev {
          left: 2%;
        }

        &.next {
          background-position: -32px 0;
          right: 2%;
        }
      }
    }
  }
}

header {
  padding: 0.2em;
}

.slides {
  .example {
    img {
      max-width: 70%;
      max-height: 65%;
      display: inline;
      border: 1px solid #111;
      @include box_shadow(2px, 2px, 9px, 3px, #131313);
    }
  }
}
