@import 'mixins.scss';

body {
  background-color: #181818;
  text-align: center;

  h1, h2, a {
    color: #bbb;
  }

  h2 {
    padding-right: 2em;
    padding-left: 2em;
  }

  p {
    font-family: 'Lustria', serif;
    color: #666;
    font-size: 0.9em;
  }

  .portfolio {
    @include clearfix;
    max-width: 840px;
    margin: 0 auto;

    .container {
      width: 280px;
      float: left;
    }
    .wide, .square, .tall, .big, .extrabig {
      background-color: gray;
      margin: 5px;
      float: left;
      @include border_radius(3px);
    }

    .wide {
      width: 270px;
      height: 100px;
    }

    .square {
      width: 130px;
      height: 100px;
    }

    .tall {
      width: 130px;
      height: 210px;
    }

    .big {
      width: 270px;
      height: 210px;
    }

    .extrabig {
      width: 270px;
      height: 320px;
    }
  }

  .flexslider {
    background-color: transparent;
    border: 0;

    .flex-direction-nav {
      li a {
        background-image: url(/images/flexslider/photography_bg_direction_nav.png);
        width: 37px;
        top: 2em;

        &.prev {
          left: 2%;
        }

        &.next {
          background-position: -32px 0;
          right: 2%;
        }
      }
    }
  }
}

header {
  background-color: #111;
  padding: 0.2em;
  @include box_shadow(0px, 0px, 9px, 9px, #131313);
}

.slides {
  .example {
    img {
      max-width: 70%;
      max-height: 65%;
      display: inline;
      border: 1px solid #111;
      @include box_shadow(2px, 2px, 9px, 3px, #131313);
    }
  }
}
