/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@import 'mixins.scss';
@import 'variables.scss';

body {
  background-color: $pagebackground;
  color: #747474;

  p, blockquote, .attribution {
    font-family: 'Lato', sans-serif;
  }

  h1 {
    font-weight: normal;
    color: #464646;
    text-transform: lowercase;
  }

  h2 {
    font-weight: normal;
    color: #464646;
  }

  .name-and-title {
    width: auto;
    display: table;
    margin-top: 22px;

    .fn.n {
      color: $hotpink;
      font-weight: normal;
      display: table-row;

      .name {
        display: table-cell;
      }
    }

    .job-title {
      display: table-row;
      font-weight: normal;
      color: $hotpink;
      @include opacity(55);

      .title {
        text-align: right;
        display: table-cell;
      }
    }
  }

  ul.contact-icons {
    list-style-type: none;

    li {
      display: inline;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: inline-block;
        background-color: $hotpink;
        background-repeat: no-repeat;
        text-decoration: none;

        span {
          display: none;
        }

        &:hover {
          background-color: $palepink;
          position: relative;

          span {
            display: block;
            position: absolute;
          }

          span.triangle {
            background-image: url(/images/tooltip-triangle.png);
            background-repeat: no-repeat;
            height: 4px;
            width: 7px;
          }

          span.tooltip {
            background-color: #4f4f4f;
            @include border_radius(4px);
            color: #fff;
            right: 0;
            text-align: center;
            text-transform: lowercase;
            white-space: nowrap;
            z-index: 2;
          }
        }
      }
    }

  }

  .contact-details {
    color: #b1b1b1;
    @include clearfix;

    .email {
      float: left;

      a {
        text-decoration: none;
        color: #b1b1b1;
      }
    }

    .tel {
      float: right;

      a {
        text-decoration: none;
        color: #b1b1b1;
      }
    }
  }

  nav {
    background-image: url(/images/pink-line.png);
    background-repeat: repeat-x;
    background-position: left center;
    margin: 1em auto;

    ul {
      text-align: center;
      list-style-type: none;

      li {
        display: inline;
        background-color: $pagebackground;
        margin: 0;

        &:first-child {
          padding-left: 10px;
        }

        &:last-child {
          padding-right: 10px;
        }

        a {
          padding: 4px 10px;
          @include border_radius(1em);
          color: $hotpink;
          text-decoration: none;

          &.active, &.active:hover {
            background-color: $hotpink;
            color: #fff;
          }

          &:hover {
            background-color: $palepink;
          }
        }
      }
    }
  }

  .portfolio {
    h1 {
      display: none;
    }

    .example {
      @include clearfix;

      .top, .bottom, .left, .right {
        background-repeat: no-repeat;
      }

      .left, .right, .screenshot {
        float: left;
      }

      .bottom {
        clear: left;
      }

      .screenshot {
        display: inline-block;
      }

    }
  }

  .testimonials {
    blockquote:before, blockquote:after {
      color: $hotpink;
      font-family: 'Lustria', serif;
      line-height: 0;
      vertical-align: bottom;
      padding: 0 0.1em;
    }

    blockquote:before {
      content: "\201C";
    }

    blockquote:after {
      content: "\201D";
    }

    .attribution {
      text-align: right;
      color: #464646;

      &:before {
        content: "\2014\00A0";
      }
    }
  }

  .flexslider {
    background-color: $pagebackground;
    border: 0;

    .flex-control-nav {
      background-image: url(/images/flexslider/grey-line.png);
      background-repeat: repeat-x;
      background-position: left 7px;
      bottom: 0;
      height: 28px;

      li {
        background-color: $pagebackground;
        margin: 0;
        padding: 1px;

        &:first-child {
          padding-left: 10px;
        }

        &:last-child {
          padding-right: 10px
        }

        a {
          background-image: url(/images/flexslider/bg_control_nav.png);
        }
      }
    }

    .flex-direction-nav {
      li a {
        background-image: url(/images/flexslider/bg_direction_nav.png);
        top: auto;
        bottom: -9px;
        margin-top: 10px;

        &.prev {
          left: 0;
        }

        &.next {
          right: 0;
        }
      }
    }
  }

  #footer {
    clear: left;
    padding-top: 1em;
    padding-bottom: 0.5em;
    color: #b1b1b1;
    text-align: center;
  }

}

.ie6 {
  ul.contact-icons {
    position: relative;
  }
}

.ie8 {
  .flexslider .slides img {
    max-width: none;
  }

  .testimonials {
    blockquote:before, blockquote:after {
      content: "";
      padding: 0;
    }
  }
}

/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  body {
    ul.contact-icons li a {
      background-image: url(/images/social-icons-64.png);
      background-size: 32px;

      &:hover span.triangle {
        background-image: url(/images/tooltip-triangle-14.png);
        background-size: 7px;
      }
    }
  }

}
