/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@import url(http://fonts.googleapis.com/css?family=Lustria|Lato);

body {
  background-color: #f8f8f8;
  color: #747474;

  font-family: 'Lustria', serif;

  p, blockquote {
    font-family: 'Lato', sans-serif;
  }

  h2 {
    font-size: 42px;
    color: #464646;
  }

  .name-and-title {
    width: auto;
    display: table;

    h1 {
      color: #f54ec4;
      font-size: 60px;
      font-weight: normal;
      display: table-row;

      .name {
        display: table-cell;
      }
    }

    h2 {
      display: table-row;
      font-weight: normal;
      color: #f54ec4;
      opacity: 0.55;

      .title {
        font-size: 24px;
        text-align: right;
        display: table-cell;
      }
    }
  }
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  /*	.logo {
  background: url(logo2x.jpg) no-repeat;
  background-size: 212px 303px;
  }*/

}
