/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

@import url(http://fonts.googleapis.com/css?family=Lustria|Lato);

body {
  background-color: #f8f8f8;
  color: #747474;

  font-family: 'Lustria', serif;

  p, blockquote {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 25px;
    margin-top: 15px;
  }

  h1 {
    font-size: 42px;
    color: #464646;
  }

  .name-and-title {
    width: auto;
    display: table;
    margin-top: 22px;

    .fn.n {
      color: #f54ec4;
      font-weight: normal;
      display: table-row;

      .name {
        display: table-cell;
      }
    }

    .job-title {
      display: table-row;
      font-weight: normal;
      color: #f54ec4;
      opacity: 0.55;

      .title {
        text-align: right;
        display: table-cell;
      }
    }
  }

  ul.contact-icons {
    list-style-type: none;

    li {
      display: inline-block;

      &:first-child {
        margin-left: 0;
      }

      a {
        display: inline-block;
        background-color: #f54ec4;
        background-repeat: no-repeat;
        border-radius: 50%;

        &:hover {
          background-color: #e680d4;
        }
      }
    }

  }

  .contact-details {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    height: 1.3em;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    opacity: 0.5;
    font-size: 17px;

    .tel {
      text-align: right;
    }
  }
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  /*	.logo {
  background: url(logo2x.jpg) no-repeat;
  background-size: 212px 303px;
  }*/

}
