/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

body {
  background-color: #f8f8f8;

  .name-and-title {
    width: auto;
    display: table;

    h1 {
      color: #f557c7;
      font-size: 3em;
      display: table-row;

      .name {
        display: table-cell;
      }
    }

    h2 {
      display: table-row;
      font-weight: normal;
      color: #f69edc;

      .title {
        text-align: right;
        display: table-cell;
      }
    }
  }
}


/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

  body {

  }

}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) {

  /*	.logo {
  background: url(logo2x.jpg) no-repeat;
  background-size: 212px 303px;
  }*/

}
